<div class="mt-5">
    <form method="POST">
  <div class="mb-3">
    <label for="search-input" class="form-label">Từ khoá</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khoá">
    <input type="text" name="fullname" class="form-control" id="search-input" placeholder="Nhập tên">
  </div>
  
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>